/* MyCalendar.css */
.react-calendar {
	font-family: "Special Elite", cursive; /* Apply Special Elite to the entire calendar */
}

.react-calendar {
	max-width: 100%;
	width: 100%; /* Make the calendar responsive */
	min-width: 300px;
	background-color: #1f2020;

	border-radius: 18px;

	font-family: "Special Elite", cursive; /* Apply Special Elite to the entire calendar */

	font-size: 1.2rem; /* Increase text size */
}

.react-calendar__navigation button {
	font-size: 16px;
	border: none;
	background-color: #4c4d4c; /* Tailwind blue-600 */
	color: white;
	border-radius: 18px !important;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease,
		transform 0.2s ease;
	cursor: pointer;
	margin: 3px;
}
.react-calendar__month-view__days__day {
	margin: 0 !important;
	padding: 1px !important;
	min-height: 70px !important;
}
.react-calendar__navigation button:hover {
	background-color: #9fa29f !important;
}
.react-calendar__tile {
	padding: 20px; /* Bigger tiles */

	background-color: #ffffff;
	color: #212224;
	font-size: large;
	border: none !important;

	transition: background-color 0.2s ease;
	box-sizing: border-box; /* Ensure consistent box model */
}
.react-calendar__month-view__days__day--weekend {
	color: red !important;
}

.react-calendar__tile--now {
	background-color: rgb(55, 56, 55) !important;
}
.react-calendar__tile--now:hover {
	background-color: rgb(55, 56, 55) !important;
}

.react-calendar__tile--now abbr {
	border: 2px solid  #4c4d4c; /* Green circle around the text */
	border-radius: 50%; /* Make it circular */
	padding: 2px 5px; /* Adjust padding for consistent circle size */
	background-color: rgb(55, 56, 55) !important;
	color: white;
	font-weight: bold;
	display: inline-block;
	width: auto;
	height: auto;
}

.react-calendar__tile--active {
	background-color: #cdd2e7;
	color: #727b93;
	font-weight: bold;
}
.react-calendar__month-view__days__day--neighboringMonth {
	background-color: rgb(241, 229, 229) !important;
	color: #b6bdbf !important;
}
